.title {
    color: green;
}

div.social_link{
    height:100px;
    width:100px;
    display: inline-block;
}

.social_link img{
    display: inline-block;
    width: 100%;
    height: auto;
}

.social_link li{
    list-style-type: none;
    display: inline;
}